@model IEnumerable<MvcEight.Models.Holiday>

@*@{
    ViewBag.Title = "Index";
}*@

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #90EE90;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>

<h2 style="text-align:center;">Holiday Notice</h2>
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VacationFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassResumesOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VacationFor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassResumesOn)
        </td>
        <td>
            @Html.ActionLink("Change", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Remove", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<hr />
<p style="text-align:center">
    @Html.ActionLink("Add Holiday Notice", "Create")
</p>