
@{
    ViewBag.Title = "ReClassSevenResult";
}

<h2>ReClassSevenResult</h2>

<div class="container">
    <div class="well">@Html.ActionLink("BengaliOne", "ClassSevenBengaliOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("BengaliTwo", "ClassSevenBengaliTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishOne", "ClassSevenEnglishOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishTwo", "ClassSevenEnglishTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Mathematics", "ClassSevenMathematics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Science", "ClassSevenScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("SocialScience", "ClassSevenSocialScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Religion", "ClassSevenReligion", "AllTheResult")</div>
</div>

