
@{
    ViewBag.Title = "ReClassSixResult";
}

<h2>ReClassSixResult</h2>

<div class="container">
    <div class="well">@Html.ActionLink("BengaliOne", "ClassSixBengaliOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("BengaliTwo", "ClassSixBengaliTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishOne", "ClassSixEnglishOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishTwo", "ClassSixEnglishTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Mathematics", "ClassSixMathematics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Science", "ClassSixScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("SocialScience", "ClassSixSocialScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Religion", "ClassSixReligion", "AllTheResult")</div>
</div>


