
@{
    ViewBag.Title = "ReClassTenResult";
}

<h2>ReClassTenResult</h2>

<div class="container">
    <div class="well">@Html.ActionLink("BengaliOne", "ClassTenBengaliOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("BengaliTwo", "ClassTenBengaliTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishOne", "ClassTenEnglishOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishTwo", "ClassTenEnglishTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("GeneralMathematics", "ClassTenGeneralMathematics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("HigherMathematics", "ClassTenHigherMathematics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Physics", "ClassTenPhysics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Chemistry", "ClassTenChemistry", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Biology", "ClassTenBiology", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("SocialScience", "ClassTenSocialScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Religion", "ClassTenReligion", "AllTheResult")</div>
</div>

