
@{
    ViewBag.Title = "ReClassThreeResult";
}

<h2>ReClassThreeResult</h2>

<div class="container">
    <div class="well">@Html.ActionLink("BengaliOne", "ClassThreeBengaliOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("BengaliTwo", "ClassThreeBengaliTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishOne", "ClassThreeEnglishOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishTwo", "ClassThreeEnglishTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Mathematics", "ClassThreeMathematics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Science", "ClassThreeScience", "AllTheResult")</div>
</div>


