
@{
    ViewBag.Title = "ReClassFiveResult";
}

<h2>ReClassFiveResult</h2>

<div class="container">
    <div class="well">@Html.ActionLink("BengaliOne", "ClassFiveBengaliOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("BengaliTwo", "ClassFiveBengaliTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishOne", "ClassFiveEnglishOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishTwo", "ClassFiveEnglishTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Mathematics", "ClassFiveMathematics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Science", "ClassFiveScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("SocialScience", "ClassFiveSocialScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Religion", "ClassFiveReligion", "AllTheResult")</div>
</div>
