
@{
    ViewBag.Title = "ReClassFourResult";
}

<h2>ReClassFourResult</h2>

<div class="container">
    <div class="well">@Html.ActionLink("BengaliOne", "ClassFourBengaliOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("BengaliTwo", "ClassFourBengaliTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishOne", "ClassFourEnglishOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishTwo", "ClassFourEnglishTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Mathematics", "ClassFourMathematics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Science", "ClassFourScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("SocialScience", "ClassFourSocialScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Religion", "ClassFourReligion", "AllTheResult")</div>
</div>

