
@{
    ViewBag.Title = "ReClassNineResult";
}

<h2>ReClassNineResult</h2>

<div class="container">
    <div class="well">@Html.ActionLink("BengaliOne", "ClassNineBengaliOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("BengaliTwo", "ClassNineBengaliTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishOne", "ClassNineEnglishOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishTwo", "ClassNineEnglishTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("GeneralMathematics", "ClassNineGeneralMathematics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("HigherMathematics", "ClassNineHigherMathematics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Physics", "ClassNinePhysics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Chemistry", "ClassNineChemistry", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Biology", "ClassNineBiology", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("SocialScience", "ClassNineSocialScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Religion", "ClassNineReligion", "AllTheResult")</div>
</div>

