
@{
    ViewBag.Title = "ReClassEightResult";
}

<h2>ReClassEightResult</h2>

<div class="container">
    <div class="well">@Html.ActionLink("BengaliOne", "ClassEightBengaliOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("BengaliTwo", "ClassEightBengaliTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishOne", "ClassEightEnglishOne", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("EnglishTwo", "ClassEightEnglishTwo", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Mathematics", "ClassEightMathematics", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Science", "ClassEightScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("SocialScience", "ClassEightSocialScience", "AllTheResult")</div>
    <div class="well">@Html.ActionLink("Religion", "ClassEightReligion", "AllTheResult")</div>
</div>

