
@{
    ViewBag.Title = "ClassTwo";
}

@*<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("Bengali", "Index", "BengaliTwo")
    @Html.ActionLink("English", "Index", "EnglishTwo")
</div>*@

<div class="container">
    <h2>Class Two</h2>
    <div class="well">@Html.ActionLink("Bengali", "Index", "BengaliTwo")</div>
    <div class="well">@Html.ActionLink("English", "Index", "EnglishTwo")</div>
    <div class="well">@Html.ActionLink("Mathematics", "Index", "MathematicsTwo")</div>
</div>

