
@{
    ViewBag.Title = "ClassThree";
}

@*<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("Bengali", "Index", "BengaliThree")
    @Html.ActionLink("English", "Index", "EnglishThree")
</div>*@

<div class="container">
    <h2>Class Three</h2>
    <div class="well">@Html.ActionLink("Bengali", "Index", "BengaliThree")</div>
    <div class="well">@Html.ActionLink("English", "Index", "EnglishThree")</div>
    <div class="well">@Html.ActionLink("Mathematics", "Index", "MathematicsThree")</div>
</div>