
@{
    ViewBag.Title = "ClassNine";
}

@*<div style="padding:5px; background: rgba(0,0,0,0.2);text-align:center">
    @Html.ActionLink("BengaliOne", "Index", "BengaliOneNine")
    @Html.ActionLink("BengaliTwo", "Index", "BengaliTwoNine")
    @Html.ActionLink("EnglishOne", "Index", "EnglishOneNine")
    @Html.ActionLink("EnglishTwo", "Index", "EnglishTwoNine")
</div>*@

<div class="container">
    <h2>Class Nine</h2>
    <div class="well">@Html.ActionLink("Bengali One", "Index", "BengaliOneNine")</div>
    <div class="well">@Html.ActionLink("Bengali Two", "Index", "BengaliTwoNine")</div>
    <div class="well">@Html.ActionLink("English One", "Index", "EnglishOneNine")</div>
    <div class="well">@Html.ActionLink("English Two", "Index", "EnglishTwoNine")</div>
    <div class="well">@Html.ActionLink("Mathematics", "Index", "MathematicsNine")</div>
    <div class="well">@Html.ActionLink("Science", "Index", "ScienceNine")</div>
    <div class="well">@Html.ActionLink("SocialScience", "Index", "SocialScienceNine")</div>
</div>