@model IEnumerable<MvcEight.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Event Notice</h2>

<p>
    @Html.ActionLink("Add Event Notice", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDetails)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDetails)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
